<div class="container add-box z-depth-1">
	<div class="row">
		<div class="type-add borderbottom">
			<h4>ADD COURSE</h4>
		</div>
		<div class="form-add">
		    <form class="col s12 ">
			    <div class="row">
			        <div class="input-field col s6">
			          	<input type="text" class="validate">
			          	<label>Course</label>
			        </div>				        
			    </div>
			    <div class="row">
			        <div class="input-field col s6">
			          	<input type="text" class="validate">
			          	<label>Start Time</label>
			        </div>
			        <div class="input-field col s6">
			          	<input type="text" class="validate">
			          	<label>End Time</label>
			        </div>
			    </div>
			    <div class="row">
			        <div class="input-field col s6">
			          	<input type="text" class="validate">
			          	<label>Teacher</label>
			        </div>
			        <div class="input-field col s6">
			          	<input type="text" class="validate">
			          	<label>Course For</label>
			        </div>
			    </div>				    
			    <div class="row">
			        <div class="input-field col s12">
			            <textarea id="textarea1" class="materialize-textarea"></textarea>
			            <label for="textarea1">Detail</label>
			        </div>
		        </div>
			    <div class="input-field">
			    	<select multiple>
						<option value="" disabled selected>Choose course DAYS</option>
						<option value="1">Monday</option>
						<option value="2">Tuesday</option>
						<option value="3">Wednesday</option>
						<option value="4">Thursday</option>
						<option value="5">Friday</option>
						<option value="6">Saturday</option>
						<option value="3">Sunday</option>
			    	</select>
			    	<label>Select day for Course</label>
				</div>
		    </form>
	    </div>
	</div>
</div>