<div class="container add-box z-depth-1 form-admin">
	<div class="row">
		<div class="type-add borderbottom">
			<h4>{{ edit ? "EDIT" : "ADD" }} COURSE</h4>
		</div>
		<div class="form-add">
		    <form class="col s12 ">
			    <div class="row">
			        <div class="input-field col s6">
			          	<input type="text" class="validate" ng-model="form.addcourse.title">
			          	<label>Course</label>
			          	<label>{{form.validate.course.title}}</label>
			        </div>
			        <div class="input-field col s3">
			          	<input type="text" class="validate" ng-model="form.addcourse.cnum">
			          	<label>Course Number</label>
			        </div>
			         <div class="input-field col s3">
			          	<input type="text" class="validate" ng-model="form.addcourse.room">
			          	<label>Room</label>
			        </div>
			    </div>
			    <div class="row">
			        <div class="input-field col s6">
			          	<input type="text" class="validate" ng-model="form.addcourse.starttime" placeholder="09:30">
			          	<label class="active">Start Time</label>
			        </div>
			        <div class="input-field col s6">
			          	<input type="text" class="validate" ng-model="form.addcourse.endtime" placeholder="11:00">
			          	<label class="active">End Time</label>
			        </div>
			    </div>
			    <div class="row">
			        <div class="input-field col s6">
			          	<input type="text" class="validate" ng-model="form.addcourse.teacher">
			          	<label>Teacher</label>
			        </div>
			        <div class="input-field col s6">
			          	<input type="text" class="validate" ng-model="form.addcourse.type">
			          	<label>Sec</label>
			        </div>
			    </div>
			    <div class="row">
			        <div class="input-field col s12">
			            <textarea id="textarea1" class="materialize-textarea" ng-model="form.addcourse.detail"></textarea>
			            <label for="textarea1">Detail</label>
			        </div>
		        </div>

		        <div>
				      	<input type="checkbox" id="sun" value="sun" ng-model="form.addcourse.day.sun">
				      	<label for="sun">Sun</label>
								&nbsp;
				      	<input type="checkbox" id="mon" value="mon" ng-model="form.addcourse.day.mon">
				      	<label for="mon">Mon</label>
								&nbsp;
				      	<input type="checkbox" id="tue" value="tue" ng-model="form.addcourse.day.tue">
				      	<label for="tue">Tue</label>
								&nbsp;
				      	<input type="checkbox" id="wed" value="wed" ng-model="form.addcourse.day.wed">
				      	<label for="wed">Wed</label>
								&nbsp;
				      	<input type="checkbox" id="thu" value="thu" ng-model="form.addcourse.day.thu">
				      	<label for="thu">Thu</label>
								&nbsp;
				      	<input type="checkbox" id="fri" value="fri" ng-model="form.addcourse.day.fri">
				      	<label for="fri">Fri</label>
								&nbsp;
				      	<input type="checkbox" id="sat" value="sat" ng-model="form.addcourse.day.sat">
				      	<label for="sat">Sat</label>
    			</div>
					<button class="btn waves-effect waves-light right" ng-show="edit" ng-click="editaddcoursebutton()" type="submit" name="action">Edit</button>
    			<button class="btn waves-effect waves-light right" ng-hide="edit" ng-click="addcoursebutton()" type="submit" name="action">Add</button>
		    </form>
	    </div>
	</div>
</div>
