<div class="navbar-fixed">
	<nav>
	    <div class="nav-wrapper main-menu">
			<a href="#/" class="">
				<div class="logo-menu hide-on-med-and-down">
					<img src="pic/isne_logo.png" alt="...">
					<img src="pic/cpe_logo.png" alt="...">
				</div>
			</a>
			<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons" style="color:#757575;margin-left:10px;">menu</i></a>

			<form class="hide-on-large-only searchber-mobile">
		        Search..
		    </form>

			<ul class="right hide-on-med-and-down">
		        <li><a href="#/home">HOME</a></li>
		        <li><a href="#/time-table/all"><i class="material-icons right">today</i>TIME-TABLE</a></li>
		        <li><a href="#/news/all"><i class="material-icons right">view_module</i>NEWS</a></li>
		        <li><a href="#/setting/setting"><i class="material-icons right">settings</i>SETTING</a></li>
		        <li><a ng-click="logOut()">LOGOUT</a></li>
		    </ul>

			<ul class="side-nav" id="mobile-demo">
				<li><a href="#/home">HOME</a></li>
		        <li><a href="#/time-table/all">TIME-TABLE</a></li>
		        <li><a href="#/news/all">NEWS</a></li>
		        <li><a href="#/setting/setting">SETTING</a></li>
		        <li class="bordertop"><a href="#/contact">CONTACT</a></li>
		        <li><a ng-click="logOut()">LOGOUT</a></li>
			</ul>
	    </div>
	</nav>
</div>
