<!DOCTYPE html>
<html>
<head>
	<title>test</title>
	<link rel="stylesheet" type="text/css" href="menu.css">
	<!--Import jQuery before materialize.js-->
	<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/Materialize/dist/js/materialize.min.js"></script>
    <script type="text/javascript" src="test.js"></script> 
	<!--Import Google Icon Font-->
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="bower_components\Materialize\dist\css\materialize.css"  media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8">
</head>
<body>
	<div class="navbar-fixed">
  		<nav>
		    <div class="nav-wrapper main-menu">
				<a href="#/" class="">
					<div class="logo-menu hide-on-med-and-down">
						<img src="pic/isne_logo.png" alt="...">
						<img src="pic/cpe_logo.png" alt="...">
					</div>
				</a>
				<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons" style="color:#757575;margin-left:10px;">menu</i></a>

				<form class="hide-on-large-only searchber-mobile">
			        Search..
			    </form>
				
				<ul class="right hide-on-med-and-down">
			        <li><a href="#/home">HOME</a></li>
			        <li><a href="#/time-table"><i class="material-icons right">today</i>TIME-TABLE</a></li>
			        <li><a href="#/news"><i class="material-icons right">view_module</i>NEWS</a></li>
			    </ul>

				<ul class="side-nav" id="mobile-demo">
					<li><a href="#/home">HOME</a></li>
			        <li><a href="#/time-table">TIME-TABLE</a></li>
			        <li><a href="#/news">NEWS</a></li>
			        <li class="bordertop"><a href="#/news">CONTACT</a></li>
				</ul>
		    </div>
		</nav>
	</div>

	<div class="parallax-container">
    	<div class="parallax"><img src="pic/IMG_7901.jpg"></div>
  	</div>
  	<div class="section white">
    	<div class="row container">
	      	<h2 class="header">Contact</h2>
	      	<p class="grey-text text-darken-3 lighten-3">Create by third year student of information systems and network engineering.</p>
	    </div>
  	</div>
  	<div class="parallax-container">
    	<div class="parallax"><img src="pic/IMG_7901.jpg"></div>
  	</div>
</body>
</html>