<div class="parallax-container">
	<div class="parallax"><img src="pic/IMG_7901.jpg"></div>
</div>
<div class="section white form-admin gray-text" >
	<div class="row container">
	  	<h2 class="header">Contact</h2>
	  	<p class="grey-text text-darken-3 lighten-3">Create by third year student of information systems and network engineering.</br>
	  	- Jiratchaya Kaweeta 560611006</br>
	  	- Thanakrit Thanamee 56061012</br>
	  	- Nonpicha Simarak 56061014</br>
	  	- Worakamon Nokkaew 56061024</br>
	  	- Waragorn Dechkhamfu 56061025</br>
	  	</p>
	</div>
</div>
<div class="parallax-container">
	<div class="parallax"><img src="pic/IMG_7901.jpg"></div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
      	$('.parallax').parallax();
    });
</script>