<div class="row" role="group" >
	<div class="right"style="padding-top:10px;">
		<a class="waves-effect waves-light light-green darken-1 btn" ng-class="{active: layout == 'grid'}"ng-click="changeLayoutGrid()"><i class="material-icons">view_module</i></a>
		<a class="waves-effect waves-light light-green darken-1 btn" ng-class="{active: layout == 'list'}" ng-click="changeLayoutList()"><i class="material-icons">view_list</i></a>
	</div>
</div>
<div class="row news-container" ng-show="layout == 'grid'">
	<div class="row">
        <a ng-repeat="news in indexcontroller.news | filter: indexcontroller.canamepath(indexcontroller.category)" ng-href="#/news/detail/{{news.eid}}">
        	<div class="col s12 m4" ng-show="news.pic">
		        <div class="card small">
		            <div class="card-image">
		              	<img ng-src="{{news.pic}}">
		            </div>
		            <div class="card-content card-haspic">
		            	<span class="card-title news-title-grid news-title-haspic">{{ news.title | limitTo: 60}}</span>
		            </div>
		            <div class="card-action blue-text">
		            	<p class="right">{{news.time_post}}</p>
		            </div>
		        </div>
        	</div>
        	
        	<div class="col s12 m4" ng-hide="news.pic">
	          	<div class="card" style="height:300px;">
		            <div class="card-content blue-grey-text" style="height:264px;">
		              	<span class="news-title-grid card-title">{{ news.title }}{{indexcontroller.canametopath(news.ca_name)}}</span>
		              	<p class="news-detail" >{{news.detail | htmlToPlaintext | limitTo: 200}}</p>
		            </div>
		            <div class="card-action blue-text">
		            	<p>{{news.time_post}}</p>
		            </div>
		        </div>	
        	</div>
        </a> 
    </div>
</div>
<div class="news-container" ng-show="layout == 'list'">
	<div class="row">
		<div class="collection">
		    <a ng-repeat="news in indexcontroller.news | filter: indexcontroller.canamepath(indexcontroller.category)" ng-href="#/news/detail/{{news.eid}}" class="collection-item">
		    	<p class="news-title-list">{{news.title}}</p>
		    	<p class="news-timepost">{{news.time_post}}</p>
		    </a>
	  	</div>	
	</div>
</div>