<div class="container add-box z-depth-1">
	<div class="row">
		<div class="type-add borderbottom">
			<h4>SETTING</h4>
		</div>
		<div class="form-add">
		    <ul class="collapsible z-depth-0" data-collapsible="expandable">
			    <li>
					<div class="collapsible-header active">
						<a class="tooltipped" data-position="top" data-delay="50" data-tooltip="Set the date of semester for show your course in this term."><i class="material-icons">info</i></a>
						Set Date for Semester
					</div>
					<div class="collapsible-body setting-fill">
						<div class="row">
							<form>
								<div class="input-field col s5">
									<label for="date">Start Date:</label>
									<input type="text" class="datepicker" ng-model="form.date.semesterstart">
								</div>
								<div class="input-field col s5">
									<label for="date">End Date:</label>
									<input type="text" class="datepicker"  ng-model="form.date.semesterend">
								</div>
								<div class="col s2 setting-button">
									<button class="btn waves-effect waves-light right" ng-click="adddate(2)" type="submit" name="action">
										Change
									</button>
								</div>
							</form>
						</div>
					</div>
			    </li>
			    <li>
			        <div class="collapsible-header">
				        <a class="tooltipped" data-position="top" data-delay="50" data-tooltip="Set the date of midterm test for hide your course."><i class="material-icons">info</i></a>
				        Set Date for Midterm test
			        </div>
			        <div class="collapsible-body setting-fill">
			        	<div class="row">
							<form>
								<div class="input-field col s5">
									<label for="date">Start Date:</label>
									<input type="text" class="datepicker" ng-model="form.date.midtermstart">
								</div>
								<div class="input-field col s5">
									<label for="date">End Date:</label>
									<input type="text" class="datepicker" ng-model="form.date.midtermend">
								</div>
								<div class="col s2 setting-button">
									<button class="btn waves-effect waves-light right" ng-click="adddate(0)" type="submit" name="action">
										Change
									</button>
								</div>
							</form>
						</div>
			        </div>
			    </li>
			    <li>
			        <div class="collapsible-header">
				        <a class="tooltipped" data-position="top" data-delay="50" data-tooltip="Set the date of final test for hide your course."><i class="material-icons">info</i></a>
				        Set Date for Final test
			        </div>
			        <div class="collapsible-body setting-fill">
			        	<div class="row">
							<form>
								<div class="input-field col s5">
									<label for="date">Start Date:</label>
									<input type="text" class="datepicker" ng-model="form.date.finalstart">
								</div>
								<div class="input-field col s5">
									<label for="date">End Date:</label>
									<input type="text" class="datepicker" ng-model="form.date.finalend">
								</div>
								<div class="col s2 setting-button">
									<button class="btn waves-effect waves-light right" ng-click="adddate(1)" type="submit" name="action">
										Change
									</button>
								</div>
							</form>
						</div>
			        </div>
			    </li>
			    <li>
			        <div class="collapsible-header">
			        	<a class="tooltipped" data-position="top" data-delay="50" data-tooltip="manage your category for News"><i class="material-icons">info</i></a>
			        	Category
			        </div>
			        <div class="collapsible-body setting-fill">
			        	<div class="row">
				        	<form>
					          	<div class="input-field col s8">
					            	<input id="input_text" type="text" ng-model="form.addcategory">
					            	<label for="input_text">Add category</label>
					          	</div>
					         	<div class="col s2 setting-button">
									<button class="btn waves-effect waves-light right" type="submit" name="action" ng-click="addcategorybutton()">Add</button>
								</div>
				          	</form>
						</div>
			        	<ul class="collection with-header" >
					        <li class="collection-item" ng-repeat="category in categories">
					        	<div>{{ category.ca_name }}
					        		<a class="secondary-content" ng-click="deletecategorybutton(category.ca_id)"><i class="material-icons">delete</i></a>
					        	</div>
					        </li>
  						</ul>
			        </div>
			    </li>
			    <li>
			        <div class="collapsible-header">
			        	<a class="tooltipped" data-position="top" data-delay="50" data-tooltip="manage your category for News"><i class="material-icons">info</i></a>
			        	Home-Slide
			        </div>
			        <div class="collapsible-body setting-fill">
			        	<div class="row">
							<form>
								<div class="input-field col s5">
									<label for="slide">Slide-Link-1:</label>
									<input type="text"  class="validate" ng-model="form.s.slide.slidelink1">
								</div>
								<div class="input-field col s5">
									<label for="slide">Slide-Text-1:</label>
									<input type="text"  class="validate" ng-model="form.s.slide.slidetext1">
								</div>
								<div class="col s2 setting-button">
									<button class="btn waves-effect waves-light right" ng-click="addslide(1)" type="submit" name="action">
										Change
									</button>
								</div>
							</form>
						</div>
						<div class="row">
							<form>
								<div class="input-field col s5">
									<label for="slide">Slide-Link-2:</label>
									<input type="text"  class="validate" ng-model="form.s.slide.slidelink2">
								</div>
								<div class="input-field col s5">
									<label for="slide">Slide-Text-2:</label>
									<input type="text"  class="validate" ng-model="form.s.slide.slidetext2">
								</div>
								<div class="col s2 setting-button">
									<button class="btn waves-effect waves-light right" ng-click="addslide(2)" type="submit" name="action">
										Change
									</button>
								</div>
							</form>
						</div>
						<div class="row">
							<form>
								<div class="input-field col s5">
									<label for="slide">Slide-Link-3:</label>
									<input type="text"  class="validate" ng-model="form.s.slide.slidelink3">
								</div>
								<div class="input-field col s5">
									<label for="slide">Slide-Text-3:</label>
									<input type="text"  class="validate" ng-model="form.s.slide.slidetext3">
								</div>
								<div class="col s2 setting-button">
									<button class="btn waves-effect waves-light right" ng-click="addslide(3)" type="submit" name="action">
										Change
									</button>
								</div>
							</form>
						</div>
						<div class="row">
							<form>
								<div class="input-field col s5">
									<label for="slide">Slide-Link-4:</label>
									<input type="text"  class="validate" ng-model="form.s.slide.slidelink4">
								</div>
								<div class="input-field col s5">
									<label for="slide">Slide-Text-4:</label>
									<input type="text"  class="validate" ng-model="form.s.slide.slidetext4">
								</div>
								<div class="col s2 setting-button">
									<button class="btn waves-effect waves-light right" ng-click="addslide(4)" type="submit" name="action">
										Change
									</button>
								</div>
							</form>
						</div>
			        </div>
			    </li>
			</ul>
		</div>
	</div>
</div>
