<div class="container add-box z-depth-1">
	<!-- <div class="row">
		<div class="center">
			<a ng-class="{active: mode == 'course'}">Course</a>
			<a ng-class="{active: mode == 'event'}">Event</a>
		</div>
	</div> -->
	<ul class="collapsible" data-collapsible="accordion">
	    <li>
	      	<div class="collapsible-header">Course</div>
	      	<div class="collapsible-body setting-fill">
	      		<ul class="collection with-header">
			        <li class="collection-item">
			        	<div>Alvin
			        		<a href="#!" class="secondary-content"><i class="material-icons">delete</i></a>
			        		<a href="#!" class="secondary-content"><i class="material-icons">mode_edit</i></a>
			        	</div>
			        </li>
			    </ul>
	      	</div>
	    </li>
	    <li>
	      	<div class="collapsible-header">Event</div>
	      	<div class="collapsible-body setting-fill">
	      		<ul class="collection with-header">
			        <li class="collection-item">
			        	<div>Alvin
			        		<a href="#!" class="secondary-content"><i class="material-icons">delete</i></a>
			        		<a href="#!" class="secondary-content"><i class="material-icons">mode_edit</i></a>
			        	</div>
			        </li>
			    </ul>
	      	</div>
	    </li>
  	</ul>
</div>