<div class="table-container form-admin"style="background-color:#fff;">
<div class="hide-on-small-only row">
	<table class="col s12 m12 l12 centered table-head">
		<tr>
			<td class="col s10 m10 l10"></td>
			<td class="col s2 m2 l2 table-head-room">ROOM</td>
		</tr>
	</table>
</div>
<div class="">
	<table class="table">
		<tr class="row" ng-repeat="table in tables">
			<td class="col s10 m10 l10 table-title-box" ng-style="{ 'border-left-color' : table.color }">
				<p class="table-title-title" ng-style="{'color':table.color}">{{table.cnum}} {{table.title | uppercase}}</p>
				<span class="table-title-teacher"ng-show="table.teacher">{{table.teacher}}--{{table.type}}</span>
				<label class="table-title-time right hide-on-small-only">{{table.start_time}}-{{table.end_time}}</label>
				<div class="table-title-time hide-on-med-and-up">{{table.start_time}}-{{table.end_time}}</div>
			</td>
			<td class="col s2 m2 l2 table-room-box" style="text-align: center;"><h5>{{table.room}}</h5></td>
		</tr>
	</table>
</div>
</div>
