/*----------------------------------------------login page----------------------------------------------*/
.fill-data{
	margin: 7% 0 8% 0 ;
	height: 40em;	
	background-color: #37474F;
}
.fill-data h3{
	font-family:arial, sans-serif;
    font-weight: 400;
    color: #ffffff;
}
.form-fill{
	margin-bottom: 10px;
}
.button {
	margin-top: 10px;
    border-radius: 2px;
    border: none;
    color: #fff !important;
    font-size: 12px;
    font-weight: 500;
    padding: 8px 12px;
    background-color: #26C6DA;
    float: right;
}
.form-control{
	color:#e1e1e1;
	height: 34px;
	padding: 10px 0 8px 0;
	font-size: 14px;
	background-color: transparent;
	background-image: none;
	border: none;
	border-bottom: 1px solid #e1e1e1;
	box-shadow: none;
}
.form-control:focus {
    outline-style: none;
	color:#e1e1e1;
	box-shadow: none;
	border-bottom: 2px solid #26C6DA;
}
input::-webkit-input-placeholder {
	color: #e1e1e1 !important;
}
input:-moz-placeholder { /* Firefox 18- */
color: #e1e1e1 !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: #e1e1e1 !important;  
}
 
input:-ms-input-placeholder {  
color: #e1e1e1 !important;  
}