/*-------------------------------------menu----------------------------------------------------*/
@font-face {
  			font-family: 'RobotoRegular';
  			src: url('../fonts/RobotoCondensed-Regular.ttf');
}
@font-face {
  			font-family: 'RobotoBold';
  			src: url('../fonts/RobotoCondensed-Bold.ttf');
}
body{
	background-color: #f5f5f5;
}
.logo-menu{
	display: inline-table;
	float: left;
	margin-top: 0.7em;
	position:absolute;
}
.logo-menu img{
	height: 4em;
}
.border-menu{
	height: 2em;
	margin-top: 0.8em;
	border-right:1px solid #767676;
	float: left;
}
#navbar,.second-bar{
	font-family: 'RobotoRegular',sans-serif;
}
#navbar ul li a div img{
	height: 1.6em;
	margin-top: 0.4em;
}

@media (max-width: 767px){
	.main-menu li a{
		font-size: 13px;
		text-align: left;
		margin-left: 15px;
		padding-left: 15px;
		color: #777
	}
	.second-bar{
		font-size: 12px;
	}
	.add-ui > li{
		padding:18px 5px 0 5px;
	}
}
@media (min-width: 768px){
	#navbar ul li a{
		font-size: 11px;
		text-align: center;
	}
	.second-bar{
		font-size: 14px;
	}
	.add-ui > li{
		padding:15px 10px 0 10px;
	}
}
/*-----------------------------------------------end menu-----------------------------------------------*/
/*----------------------------------------------second menu---------------------------------------------*/
.time-table{
	background-color:#6ab344;
}
.news{
	background-color:#5fbeee;
}
.add{
	background-color:#fff;
	border-bottom: 1px solid #E0E0E0;
}
.second-bar{
	height: 40px;
}
.add-ui >li > a{
	color: #777;
	cursor: pointer;
}
.add-ui > li{
	float: none;
	display: inline-block;
	color: #777;
}
.add-ui >li > a:hover{
	color: #6ab344;
	cursor: pointer;
}
.add-ui > li:hover{
	border-bottom:4px solid #6ab344;
}
.add-ui > li:active{
	border-bottom:4px solid #777;
}
/*--------------------------------------------end second menu-------------------------------------------*/
/*------------------------------------------room page------------------------------------------------*/
.test{
	border: 1px solid #ddd;
}
.head-table{
	font-family: 'RobotoRegular',sans-serif;
	font-size: 14px;
}
.head-table td{
	height: 30px;
}
.head-text{
	background-color:#5fbeee;
	color: #ffffff;
}
.hour{
	height: 60px;
}