.head-table{
	height: 2.5em;
	font-size: 12px;
}
.head-table tr td{
	padding-top: 0.8em;
}
.title-table{
	border: 1px solid #ddd;
	border-left-width: 10px;
	border-radius: 2px;
}
.title-time{
	color: #BDBDBD;
}
.table{
  border-collapse: separate; /* Or do nothing, this is default */
  border-spacing: 0 3px; /* Only works if border-collapse is separate */
}
.title-table p,.title-table span{
	padding-left: 10px;
	font-family:sans-serif;
}
.title-table span{
	color: #424242;
}
.tableroom{
	border-bottom: 5px solid #5fbeee;
	color: #5fbeee; 
}
.timestamp-text{
	font-size: 16px;
	color: #5fbeee; 
}

@media (max-width: 767px){
	.title-table p{
		font-size:13px;
		font-weight: bolder;
	}
	.title-table label{
		margin-left: 10px;
	}
	.table{
		padding-left: 5px;
		padding-right: 5px;
	}
	.timetable-container{
		padding-right: 10px;
	  	padding-left: 10px;
	  	margin-right: auto;
	  	margin-left: auto;
	}
}
@media (min-width: 768px) and (max-width: 992px){
	.title-table p{
		font-size:14px;
		font-weight: bolder;
	}
	.title-time{
		float: right;
		margin-right: 15px;
		font-size: 12px;
	}
	.timetable-container{
		padding-right: 20px;
	  	padding-left: 20px;
	  	margin-right: auto;
	  	margin-left: auto;
	}
}
@media (min-width: 992px) {
	.title-table p{
		font-size:15px;
		font-weight: bolder;
	}
  	.timetable-container{
		padding-right: 40px;
	  	padding-left: 40px;
	  	margin-right: auto;
	  	margin-left: auto;
	}
	.title-time{
		float: right;
		margin-right: 15px;
		font-size: 14px;
	}
}
