<div ng-controller="shownewsController as news" class="container add-box z-depth-1" style="margin-top:1px;">
	<div ng-show="news.newstitle.pic"><img style="width:100%;" ng-src="{{news.newstitle.pic}}"/></div>
	<div class="show-text">
		<h3 class="show-title">{{news.newstitle.title}}</h3>
		<div class="show-detail"><p ng-bind-html="news.newstitle.detail | to_trusted"></p></div>
		<div class="show-subdetail">
			<span>ROOM:</span>{{news.newstitle.room}}</br>
			<span>TIME:</span>{{news.newstitle.start_time}}-{{news.newstitle.end_time}}</br>
			<span>START-DATE:</span>{{news.newstitle.start_date}}</br>
			<span>END-DATE:</span>{{news.newstitle.end_date}}</br>
		</div>
		<div class="show-subdetail">
			<span>CATEGORY:</span>{{news.newstitle.ca_name | uppercase}}
		</div>
	</div>	
</div>